* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

main {
    height: 100%;

    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            width: 100% !important;
            &:nth-child(1n){
                background: url(/commonCode/static/images/bg_01.jpg) no-repeat center center / cover;
            }
            &:nth-child(2n){
                background: url(/commonCode/static/images/bg_02.jpg) no-repeat center center / cover;
            }
        }
    }
}