.select-box {
    position: relative;
    width: 180px;
    height: 50px;
    select {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        cursor: pointer;
        appearance: none;
        border-radius: 0;
        font-size: 18px;
        color: #999;
        font-weight: 600;
        &::-ms-expand {
            display: none;
        }
    }
    .icon-drop{
        width: 12px;
        height: 8px;
        background-image: url(/static/images/common/icon-drop.png);
        position: absolute;
        right: 18px;
        top: 21px;
        transition: all 0.2s;
    }
}
.input-box{
    width: 240px;
    height: 50px;
    input{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 0 15px;
        font-size: 18px;
        font-weight: 600;
    }
    &.readonly{
        color: #999;
    }
}
.check-box{
    input{
        position: absolute; 
        width: 1px; 
        height: 1px; 
        padding: 0; 
        margin: -1px; 
        overflow: hidden; 
        clip:rect(0,0,0,0); 
        border: 0
    }
    input + label{
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 14px;
        line-height: 15px;
        font-family: "Noto Sans KR";
        &::before{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            background: url(/static/images/common/check.png) no-repeat 0 0;
        }
    }
    input:checked + label{
        &::before{
            background-image: url(/static/images/common/checked.png);
        }
    }
}